In [37]:
import pandas as pd

data=pd.read_csv('billboard.csv',header=None)

In [38]:
data.columns = ['track', 'artist', 'date']

In [39]:
data[:10]

                      track                            artist        date
0                  Firework                        Katy Perry  25/12/2010
1           What's My Name?           Rihanna Featuring Drake  25/12/2010
2                   Grenade                        Bruno Mars  25/12/2010
3          Raise Your Glass                              P!nk  25/12/2010
4             We R Who We R                             Ke$ha  25/12/2010
5  Only Girl (In The World)                           Rihanna  25/12/2010
6      Just The Way You Are                        Bruno Mars  25/12/2010
7      The Time (Dirty Bit)               The Black Eyed Peas  25/12/2010
8              Just A Dream                             Nelly  25/12/2010
9                Bottoms Up  Trey Songz Featuring Nicki Minaj  25/12/2010

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109500 entries, 0 to 109499
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       109500 non-null  object
 1   1       109500 non-null  object
 2   2       109500 non-null  object
dtypes: object(3)
memory usage: 2.5+ MB

In [33]:
no_duplicates = data.drop_duplicates(
  subset = ['track', 'artist']).reset_index(drop = True)

In [34]:
no_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7419 entries, 0 to 7418
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   track   7419 non-null   object
 1   artist  7419 non-null   object
 2   date    7419 non-null   object
dtypes: object(3)
memory usage: 174.0+ KB

In [35]:
no_duplicates[:10]

                      track                            artist        date
0                  Firework                        Katy Perry  25/12/2010
1           What's My Name?           Rihanna Featuring Drake  25/12/2010
2                   Grenade                        Bruno Mars  25/12/2010
3          Raise Your Glass                              P!nk  25/12/2010
4             We R Who We R                             Ke$ha  25/12/2010
5  Only Girl (In The World)                           Rihanna  25/12/2010
6      Just The Way You Are                        Bruno Mars  25/12/2010
7      The Time (Dirty Bit)               The Black Eyed Peas  25/12/2010
8              Just A Dream                             Nelly  25/12/2010
9                Bottoms Up  Trey Songz Featuring Nicki Minaj  25/12/2010

In [36]:
no_duplicates.to_csv("billboard_unique.csv")